	@import url('https://fonts.googleapis.com/css?family=Righteous');
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.wrapper {
 height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
 
}

.wrapper div {
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, .3)
}

#logotitle {

	font-family: 'Righteous', cursive;
	font-size: 30px;
	color: white;
	text-decoration: none;
}
#lnk {
	color: white;
	text-decoration: none;
}

#lnk:hover {
	color: black;
}


.spacerform {
	 padding: 10px;	
}

